/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*estilos header*/
header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: block;
  display: flex;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 10rem;
  margin-left: 8.5rem; }
  header nav ul {
    display: flex;
    padding: 2rem;
    list-style: none;
    gap: 11rem;
    margin-bottom: 5rem;
    font-size: larger;
    text-decoration: none;
    font-family: sans-serif; }
    header nav ul li {
      font-weight: bold; }
      header nav ul li:hover {
        background-color: #DCFFCC;
        transform: scale(1.1);
        box-shadow: 1px 1px 3px #E7F6F2;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
        text-shadow: 2px 2px 2px #E7F6F2; }

main {
  font-family: sans-serif;
  margin-top: 2rem; }
  main h1 {
    background-color: #9FDFCD;
    padding: 2rem;
    text-align: center;
    margin-bottom: 8rem;
    margin-top: 4rem;
    color: #DCFFCC;
    text-shadow: 1px 1px 2px #DBC6EB; }
  main .nosotros {
    display: flex;
    flex-direction: row;
    text-align: justify;
    margin-bottom: 5rem;
    gap: 10rem;
    height: 40rem; }
  main .nosotros p {
    width: 500px;
    height: 200px;
    margin-top: 4rem; }
  main p {
    color: #383E56;
    text-align: justify;
    margin-left: 9rem;
    width: 250px;
    height: 230px; }
  main .nosotros img {
    width: 500px;
    height: 400px;
    border-radius: 10px; }
  main h4 {
    padding: 3rem;
    text-align: center;
    color: #383E56;
    text-shadow: 1px 1px 2px #DBC6EB;
    margin-bottom: 3rem; }
  main .adopcion {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 300px;
    gap: 2rem;
    margin-left: 3rem;
    margin-bottom: 2rem; }
  main .adopcion img {
    border-radius: 10px; }
  main .adopcion-t {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    gap: 17.5rem;
    margin-left: 11rem;
    color: #383E56;
    text-shadow: 1px 1px 2px #DBC6EB; }

footer {
  text-align: center;
  margin-top: 3rem;
  background-color: #DCFFCC;
  padding: 3rem; }
